#  Игнор файлы для Python
__pycache__
.venv

# Игнорировать байткод
*.pyc
*.pyo

# Игнорировать НПА
src/docs

# Игнорировать допы
expl
apps

# Игнорировать данные
sql/data.sql

# Игнорировать offline
offline
